@use 'src/styles/variables.scss' as *;

.category {
  &__header {
    margin-bottom: 2rem;
    &__title {
      font-size: 1.5rem;
      margin-bottom: 0.7rem;
      font-weight: $text-bold;
    }
    &__info {
      color: $gray;
    }
  }
}
