$primary-100: #002c3c;
$primary-90: #005271;
$primary-80: #0078a5;
$primary-70: #0098d2;
$primary-60: #00adef;
$primary-50: #80d6f7;
$primary-40: #a0e1f9;
$primary-30: #c0ebfb;
$primary-20: #e0f5fd;
$primary-10: #f0fafe;

$text-bold: 600;
$text-medium: 500;
$text-regular: 400;
$text-light: 300;

$success: #03ac0e;
$success-10: #e0f5e1;
$success-20: #c0ebc3;
$success-30: #81d687;
$success-40: #42c14b;

$gray: #6f6f6f;
$box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.1);
$orange: #f15412;
$red: rgb(239, 20, 74);
$lightgray: rgb(225, 225, 225);
