@use 'src/styles/variables.scss' as *;

.add__voucher__page {
  &__header {
    margin-bottom: 2rem;
    &__title {
      font-size: 1.5rem;
      font-weight: $text-bold;
      margin-bottom: 0.7rem;
    }

    &__subtitle {
      font-size: 1rem;
      font-weight: $text-regular;
      color: $gray;
    }
  }
}
