@use 'src/styles/variables' as *;

.voucher__list {
  box-shadow: $box-shadow;
  margin-top: 1rem;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h6 {
      font-size: 1.2rem;
      font-weight: $text-bold;
      margin-bottom: 1rem;
    }

    margin-bottom: 1rem;
  }
}
